*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.circle{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    transform: translate(500px,300px);
    animation-name: circle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
}
@keyframes circle{
    from{ width: 50px; height: 50px; }
    to{width: 100px;height: 100px;}
}